.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-bottom: 10px;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 700;
    width: 75%;
}
.screen-header__icons {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.quoat {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    width: 500px;
    height: 40px;
    background-color: var(--atlas);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px var(--atlas);
}
.quoat span {
    color: white;
}